
* {
  box-sizing: border-box;
}

.checkbox
{
  margin: auto;
  padding: 10px;
}

.bg-img {
  /* The image used */
  background-image: url("../../../assets/images/main.jpg");
  filter: contrast(90%);
  height: auto;
  width: 100%;
  min-height: 600px;

  /* Center and scale the image nicely */

  /* background-size: cover; */
  /* position: relative; */
}
/* 
.alreadyexist
{
  margin: auto;
  padding: 10px;
} */

/* Add styles to the form container */
.container {
  position: absolute;
  right: 0;
  top: 20px;
  margin: 20px;
  max-width: 100%;
  padding: 36px;
  background-color: white;
}

/* Full-width input fields */
/* input[type=text], input[type=password], input[type=email] ,select{ */
  /* width: 100%;
  padding: 5px;
  margin: 5px 0 22px 0;
  border: none;*/
  /* background: #f1f1f1;  */
  /* width: 100%;
  padding: 12px 20px;
  background:white;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid red;
  border-radius: 4px;
  box-sizing: none;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
} */

/* Set a style for the submit button */
/* .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
} */

.btn:hover {
  opacity: 1;
}
.fullScreen{
  min-height: 100vh;

}



.Text-container {
  display: flex;
  flex-direction: column;
}

.Text-container > * {
  width: 100%;
}

.Text-container .deleteButton {
  width: 25%;
  margin: 0 auto;

}

.Text-container {
  width: 40%;
  height: 50%;
 
  margin:auto;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  position: relative;
  top: 40px;
}