<br>

<br>


<ul class="nav nav-tabs ml-auto" >
    <li class="active text-center" style="padding: 20px;width: 33%;"><a data-toggle="tab" href="#home" >Retailers</a></li>
    <li  class="text-center" style="padding: 20px; width: 33%;"><a data-toggle="tab" href="#menu1">Vehicle Company</a></li>
    <li  class="text-center" style="padding: 20px; width: 33%;"><a data-toggle="tab" href="#menu2">Drivers</a></li>
</ul>

  <div class="tab-content">
    <div id="home" class="tab-pane active">
        <div class="container">
          <br>
          <br>
          <h1>For Retailers</h1>
          <hr>
          <ol>
            <li>If you are not registered go to the <a routerLink="/signup">Signup</a>  Page , If you are already a member go to <a routerLink="/login">Login</a> screen</li>
            <li>Fill in the required details and click on Register, On clicking on register you will recieve a confirmation mail, you can close the tab and go to your mail account </li>
            <li>You will recieve a mail which will have a link to set the new password for your account , you can set your password after you click that link</li>
            <li>After you have set your password, you will be automatically redirected to login page for the one time login</li>    
            <li>Once logged in you will be sent to the edit profile section if you are a new member there you need to update your information</li>
            <li>After your profile is updated you can start using our renting services</li>
          </ol>
          <br>
          <h2 style="text-align:center;text-decoration: underline;">To rent a vehicle</h2>
          <br>
          <ol>
            <li>Click on rent vehicle tab next to dashboard</li>
            <li>Fill in the required values as per your requirement and then click on search and then raise a request for booking a vehicle among the options</li>
            <li>Once a request is raised you can logout and you will be notified when your request is accepted</li>
            <li>Once booking is confirmed for the slot you can place you delivery by clicking on 'Add-order' tab next to 'Rent Vehicle'</li>
            <li>Once you place the order you will recieve a confirmation mail with details of the vehicle and pickup time</li>
            <li>Our representatives will collect the order from your doorstep 15 mins prior to the delivery slot</li>
            
          </ol>
        
          </div>
    </div>
    <div id="menu1" class="tab-pane fade">
        <div class="container">
                <h1>For Vehicle Company</h1>
                <hr>
                <ol>
                  <li>If you are not registered go to the <a routerLink="/signup">Signup</a>  Page , If you are already a member go to <a routerLink="/login">Login</a> screen</li>
                  <li>Fill in the required details and click on Register, On clicking on register you will recieve a confirmation mail, you can close the tab and go to your mail account </li>
                  <li>You will recieve a mail which will have a link to set the new password for your account , you can set your password after you click that link</li>
                  <li>After you have set your password, you will be automatically redirected to login page for the one time login</li>    
                  <li>Once logged in you will be sent to the edit profile section if you are a new member there you need to update your information</li>
                  <li>You can click on the car icon to switch between tabs</li>
                  <li>After your profile is updated you can start accepting bookings from dashboard</li>
                  <li>After you accept a request your secure driver password will be generated that you need to provide to your driver which he needs for login</li>
                  
                </ol>
      
          </div>
    </div>

    <div id="menu2" class="tab-pane fade">
            <div class="container">
               <h1>Drivers</h1>
               <hr>
               <ol>
                   <li><a routerLink="/driver">Login</a> using the vehicle number and the secure password provided to you by your company</li>
                   <li>Once logged in you can see your delivery details</li>
                   <li>Click on navigate to use the optimized maps provided by us</li>
                   <li>Please do not cancel any deliveries unless its unavoidable</li>
               </ol>
              </div>
        </div>
    
  </div>