    <div id="about-us">
        <div class="container">
            <div style="padding:100px;"></div>
            <br><br><br>
            <!-- <h6 class="text-center" >Mentors</h6>
            <br><br><br>
            
            <div data-aos="fade-bottom" class="row stat text-center">
                
                
                <div class="col-sm-4">
                
                </div>
                <div class="col-sm-4">

                </div>
                <div class="col-sm-4">
            
                </div>
            <br><br><br>
            </div> -->
            <br><br><br>
            <h6 class="text-center" >Members</h6>
            <br><br><br>
            <div data-aos="fade-right" class="row stat">
                <!-- <div class="col-sm-2"></div> -->
                <div class="col-sm-4">
                    <h6>Name:</h6><p>Arkoprobho Pal</p>
                    <!-- <h6>DOB:</h6><p>04/04/1996</p> -->
                    <h6>COLLEGE:</h6><p>Indian Institute of Engineering Science and Technology Shibpur</p>
                    <h6>WORKING ON:</h6><p><strong style="color:red">CGI</strong></p>
                    <h6>JOB ROLE:</h6><p>Software Engineer</p>
                    <!-- <h6>INTERESTING FACTS:</h6> -->
                    <h6>CONTACTS:</h6>
                    <p>
                        <a href="https://www.facebook.com/arkoprobho.pal.7"target="_blank"><i class="fa fa-facebook mr-4"></i></a>
                        <a href="https://www.linkedin.com/in/arkoprobhopal/"target="_blank"><i class="fa fa-linkedin mr-4"></i></a>
                        <a href="https://www.instagram.com/thebarcaboyy/"target="_blank"><i class="fa fa-instagram mr-4"></i></a>
                        <a href="https://in.pinterest.com/arkoprobhopal7/"target="_blank"><i class="fa fa-pinterest mr-4"></i></a>
                        <a href="https://twitter.com/Arkoprobho_Pal"target="_blank"><i class="fa fa-twitter mr-4"></i></a>
                        <a href="https://github.com/Arkoprobho-Pal" target="_blank"><i class="fa fa-github mr-4"></i></a>
                      </p>
                </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-4">
                    <div class="image-right">
                    <img class="img-right" src="/assets/images/members/arko.jpg"/>
                    </div>
                </div>
            <br><br><br>
            </div>
            <br><br><br>
            <div data-aos="fade-left" class="row stat">
                    <div class="col-sm-4">
                        <div class="image-left">
                            <img class="img-left" src="/assets/images/members/mreenav.jpg"/>
                        </div>
                    </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-4">
                        <h6>Name:</h6><p>Mreenav Deka</p>
                        <!-- <h6>DOB:</h6> -->
                        <h6>COLLEGE:</h6><p>National Institute of Technology Silchar</p>
                        <h6>WORKING ON:</h6><p><strong style="color:red">CGI</strong></p>
                        <h6>JOB ROLE:</h6><p>Software Engineer</p>
                        <!-- <h6>INTERESTING FACTS:</h6> -->
                        <h6>CONTACTS:</h6>
                        <p>
                            <a href="https://www.facebook.com/mreenavdeka"target="_blank"><i class="fa fa-facebook mr-4"></i></a>
                            <a href="https://www.linkedin.com/in/mreenav-deka-2a5907112/"target="_blank"><i class="fa fa-linkedin mr-4"></i></a>
                            <a href="https://www.instagram.com/mreenavdeka/"target="_blank"><i class="fa fa-instagram mr-4"></i></a>
                            <a href="https://github.com/minz27" target="_blank"><i class="fa fa-github mr-4"></i></a>
                           
                    </div>
                    <!-- <div class="col-sm-2"></div> -->
            </div>
            <br><br><br>
            <div data-aos="fade-right"class="row stat">
                <!-- <div class="col-sm-2"></div> -->
                <div class="col-sm-4">
                    <h6>Name:</h6><p>Umesh Dhakad</p>
                    <!-- <h6>DOB:</h6> -->
                    <h6>COLLEGE:</h6><p>Indian Institute of Technology Guwahati</p>
                    <h6>WORKING ON:</h6><p><strong style="color:red">CGI</strong></p>
                    <h6>JOB ROLE:</h6><p>Software Engineer</p>
                    <!-- <h6>INTERESTING FACTS:</h6> -->
                    <h6>CONTACTS:</h6>
                    <p>
                        <a href="https://www.facebook.com/profile.php?id=100010407273684"target="_blank"><i class="fa fa-facebook mr-4"></i></a>
                        <a href="https://www.instagram.com/udhaked/"target="_blank"><i class="fa fa-instagram mr-4"></i></a>
                        <a href="https://github.com/umeshdhakedCGI" target="_blank"><i class="fa fa-github mr-4"></i></a>
                        <a href="https://mobile.twitter.com/iamumeshdhaked"><i class="fa fa-twitter mr-4"></i></a>
                      </p>

                </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-4">
                    <div class="image-right">
                    <img class="img-right" src="/assets/images/members/umesh.jpg"/>
                    </div>
                </div>
            <br><br><br>
            </div>
            <br><br><br>
            <div data-aos="fade-left" class="row stat">
                    <div class="col-sm-4">
                        <div class="image-left">
                            <img class="img-left" src="/assets/images/members/raj.jpg"/>
                        </div>
                    </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-4">
                        <h6>Name:</h6><p>Rajender Banothu</p>
                        <!-- <h6>DOB:</h6> -->
                        <h6>COLLEGE:</h6><p>National Institute of Technology Surathkal</p>
                        <h6>WORKING ON:</h6><p><strong style="color:red">CGI</strong></p>
                        <h6>JOB ROLE:</h6><p>Software Engineer</p>
                        <!-- <h6>INTERESTING FACTS:</h6> -->
                        <h6>CONTACTS:</h6>
                        <p>
                            <a href="https://www.facebook.com/profile.php?id=100007927305965"target="_blank"><i class="fa fa-facebook mr-4"></i></a>
                            <!-- <a href="#"><i class="fa fa-linkedin mr-4"target="_blank"></i></a> -->
                            <a href="https://www.instagram.com/rajenderbanothu/" target="_blank"><i class="fa fa-instagram mr-4"target="_blank"></i></a>
                            <a href="https://github.com/rajender97" target="_blank"><i class="fa fa-github mr-4"></i></a>
                            <!-- <a href="#"><i class="fa fa-pinterest mr-4"></i></a>
                            <a href="#"><i class="fa fa-twitter mr-4"></i></a>
                            <a href="#"><i class="fa fa-rss"></i></a> -->
                          </p>
                    </div>
                    <!-- <div class="col-sm-2"></div> -->
            </div>
            <br><br><br>
            <div data-aos="fade-right"class="row stat">
                <!-- <div class="col-sm-2"></div> -->
                <div class="col-sm-4">
                    <h6>Name:</h6><p>Sanjay Babu</p>
                    <!-- <h6>DOB:</h6> -->
                    <h6>COLLEGE:</h6><p>National Institute of Technology Nagpur</p>
                    <h6>WORKING ON:</h6><p><strong style="color:red">CGI</strong></p>
                    <h6>JOB ROLE:</h6><p>Software Engineer</p>
                    <!-- <h6>INTERESTING FACTS:</h6> -->
                    <h6>CONTACTS:</h6>
                    <p>
                        <a href="https://m.facebook.com/sanjay.ch007"target="_blank"><i class="fa fa-facebook mr-4"></i></a>
                        <a href="https://www.linkedin.com/in/sanjay-ch-111bbb137/"target="_blank"><i class="fa fa-linkedin mr-4"></i></a>
                        <a href="https://www.instagram.com/sanjay_chilukuri/"target="_blank"><i class="fa fa-instagram mr-4"></i></a>
                        <a href="https://github.com/ChSanjayBabu" target="_blank"><i class="fa fa-github mr-4"></i></a>
                        <!-- <a href="#"><i class="fa fa-pinterest mr-4"></i></a>
                        <a href="#"><i class="fa fa-twitter mr-4"></i></a>
                        <a href="#"><i class="fa fa-rss"></i></a> -->
                      </p>
                </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-4">
                    <div class="image-right">
                    <img class="img-right" src="/assets/images/members/sanjay.jpg"/>
                    </div>
                </div>
            <br><br><br>
            </div>
            <br><br><br>
            <div data-aos="fade-left" class="row stat">
                    <div class="col-sm-4">
                        <div class="image-left">
                            <img class="img-left" src="/assets/images/members/gautham.jpg"/>
                        </div>
                    </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-4">
                        <h6>Name:</h6><p>Gautham Sambath</p>
                        <!-- <h6>DOB:</h6> -->
                        <h6>COLLEGE:</h6><p>National Institute of Technology Surathkal</p>
                        <h6>WORKING ON:</h6><p><strong style="color:red">CGI</strong></p>
                        <h6>JOB ROLE:</h6><p>Software Engineer</p>
                        <!-- <h6>INTERESTING FACTS:</h6> -->
                        <h6>CONTACTS:</h6>
                        <p>
                            <a href="https://www.facebook.com/gauthamsambath"target="_blank"><i class="fa fa-facebook mr-4"></i></a>
                            <a href="https://www.linkedin.com/in/gautham-sambath-077861149/"target="_blank"><i class="fa fa-linkedin mr-4"></i></a>
                            <a href="https://www.instagram.com/gauthamsambath/" target="_blank"><i class="fa fa-instagram mr-4"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-github mr-4"></i></a>
                            <!-- <a href="#"><i class="fa fa-pinterest mr-4"></i></a>
                            <a href="#"><i class="fa fa-twitter mr-4"></i></a>
                            <a href="#"><i class="fa fa-rss"></i></a> -->
                          </p>
                    </div>
                    <!-- <div class="col-sm-2"></div> -->
            </div>
            <br><br><br>
            <div data-aos="fade-right"class="row stat">
                <!-- <div class="col-sm-2"></div> -->
                <div class="col-sm-4">
                    <h6>Name:</h6><p>Aman Tiwari</p>
                    <!-- <h6>DOB:</h6> -->
                    <h6>COLLEGE:</h6><p>Indian Institute of Technology Guwahati</p>
                    <h6>WORKING ON:</h6><p><strong style="color:red">CGI</strong></p>
                    <h6>JOB ROLE:</h6><p>Software Engineer</p>
                    <!-- <h6>INTERESTING FACTS:</h6> -->
                    <h6>CONTACTS:</h6>
                    <p>
                        <a href="https://www.facebook.com/aman.tiwary.3597"><i class="fa fa-facebook mr-4"></i></a>
                        <a href="https://www.linkedin.com/in/aman-tiwari-b224ab146"><i class="fa fa-linkedin mr-4"></i></a>
                        <!-- <a href="#"><i class="fa fa-instagram mr-4"></i></a> -->
                        <a href="https://github.com/kryo93" target="_blank"><i class="fa fa-github mr-4"></i></a>
                        <!-- <a href="#"><i class="fa fa-pinterest mr-4"></i></a>
                        <a href="#"><i class="fa fa-twitter mr-4"></i></a>
                        <a href="#"><i class="fa fa-rss"></i></a> -->
                      </p>
                </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-4">
                    <div class="image-right">
                    <img class="img-right" src="/assets/images/members/aman.jpg"/>
                    </div>
                </div>
            <br><br><br>
            </div>
            <br><br><br>
            <div data-aos="fade-left" class="row stat">
                    <div class="col-sm-4">
                        <div class="image-left">
                            <img class="img-left" src="/assets/images/members/versha.jpg"/>
                        </div>
                    </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-4">
                        <h6>Name:</h6><p>Versha Verma</p>
                        <!-- <h6>DOB:</h6> -->
                        <h6>COLLEGE:</h6><p>National Institute Technology Silchar</p>
                        <h6>WORKING ON:</h6><p><strong style="color:red">CGI</strong></p>
                        <h6>JOB ROLE:</h6><p>SOftware Engineer</p>
                        <!-- <h6>INTERESTING FACTS:</h6> -->
                        <h6>CONTACTS:</h6>
                        <p>
                            <a href="https://m.facebook.com/versha.verma.792"target="_blank"><i class="fa fa-facebook mr-4"></i></a>
                            <a href="https://www.linkedin.com/in/versha-verma-569600153"target="_blank"><i class="fa fa-linkedin mr-4"></i></a>
                            <a href="http://instagram.com/vershaa_vermaa"target="_blank"><i class="fa fa-instagram mr-4"></i></a>
                            <a href="https://github.com/versha0" target="_blank"><i class="fa fa-github mr-4"></i></a>
                          </p>
                    </div>
                    <!-- <div class="col-sm-2"></div> -->
            </div>
            <div style="padding:100px;"></div>
        </div>
    </div>