/* .container{
    background: rgb(36,8,0);
background: linear-gradient(0deg, rgba(36,8,0,1) 0%, rgba(121,9,9,0.865983893557423) 35%, rgba(255,55,0,0) 100%);
} */
#about-us{
    /* background:white; */
    background:#1D1F1F;
    margin-top: -150px;
    margin-bottom: -150px;
}
/* .row{
    background:#1D1F1F;
} */
p{
    color: white;
}
.fa{
font-size: 40px;
}
a{

    color:white;
    text-decoration: none;
}
a:hover{
    color:orangered;

}
.img-right{
    height:230px;
    width:230px;
    float: right;
}
.img-left{
    height:230px;
    width:230px;
    float: left;
}
p{
    color:white;
}
.image-right{
    /* border-collapse: separate;
  border-spacing: 15px 50px; */
    height:250px ;
    width: 250px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-bottom-style: ridge;
    border-left-style: solid;
    border-left-style: ridge;
    border-bottom-color: coral;
    border-bottom-width: 7px;
    border-left-style: ridge;
    border-left-color: coral;
    border-left-width: 7px;
}
.image-left{
    /* border-collapse: separate;
  border-spacing: 15px 50px; */
  height:250px ;
  width: 250px;
    border-top-style: none;
    border-left-style: none;
    border-bottom-style: solid;
    border-bottom-style: ridge;
    border-right-style: solid;
    border-right-style: ridge;
    border-bottom-color: coral;
    border-bottom-width: 7px;
    border-right-style: ridge;
    border-right-color: coral;
    border-right-width: 7px;
}
.stat {
    /* text-align: center; */
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  border: 10px solid white;
  border-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='50'><defs><linearGradient id='redgradient'><stop offset='0' stop-color='%23FFC14D'/><stop offset='0.362' stop-color='%23FF4834'/><stop offset='1' stop-color='%233B0300'/></linearGradient></defs><g id='Layer_1'><path d='M0,0 L50,0 L50,50 L0,50 L0,0 z' fill='url(%23redgradient)' width='100%' height='100%'/></g></svg>") 10% stretch;
  }
  h6{
      color:goldenrod;
      font-weight: bold;
  }