

      <div class="wantyou">

            <div class="container">
              <div class="row stat">
                <div data-aos="fade-right" class="col-sm-4">
                  <img src="/assets/images/we_want_you.png" alt="image" style="width:100%;"/>
                </div>
                <div class="col-sm-2"></div>
                <div data-aos="flip-right" class="col-sm-6" style="border-left: 0.5px solid grey;">
                  <h1>You want you be a Wysser developer ?</h1>
                  <!-- <p>
                    of customers consider <span style="color:red;font-size:20px;">Fast delivery</span> to mean same-day delivery
                </p> -->
                <button class="btn btn-outline-danger" data-toggle="modal" data-target="#modalContactForm"> Join Us</button>
                </div>


              </div>

            </div>
            <br>
          </div>


<!-- <app-add-developer></app-add-developer> -->



<!-- the modal -->
<div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Let's Begin The Journey</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-2">
          <i class="fas fa-user prefix grey-text"></i>
          <label data-error="wrong" data-success="right" for="form34">  Your name</label>
          <input type="text" id="form34" class="form-control validate" [(ngModel)]="name" >

        </div>

        <div class="md-form mb-2">
          <i class="fas fa-envelope prefix grey-text"></i>
          <label data-error="wrong" data-success="right" for="form29">  Your email</label>
          <input type="email" id="form29" class="form-control validate" [(ngModel)]="email">

        </div>

        <div class="md-form mb-2">
          <i class="fas fa-tag prefix grey-text"></i>
          <label data-error="wrong" data-success="right" for="form32">  Role</label>
          <!-- <input type="text" id="form32" class="form-control validate"> -->
          <select id="form32" class="form-control validate" [(ngModel)]="role">
            <option value="Web Designer">Web Designer</option>
            <option value="Front-End Developer">Front-End Developer</option>
            <option value="Content Writer">Content Writer</option>
            <option value="Backend-Developer">Backend Developer</option>

          </select>

        </div>
        <!-- <div class="file-field">
        <div class="btn btn-primary btn-sm float-left">
          <span>Choose file</span>
          <input type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Upload your file">
        </div>
      </div> -->
        <!-- <div class="md-form">
          <i class="fa fa-pencil prefix grey-text"></i>
          <textarea type="text" id="form8" class="md-textarea form-control" rows="4"></textarea>
          <label data-error="wrong" data-success="right" for="form8">Your message</label>
        </div> -->
        <div class="md-form">
            <i class="fa fa-pencil prefix grey-text"></i>
            <label data-error="wrong" data-success="right" for="form32">  Résumé </label>
            <br>
            <input type="file" id="selectfile" name="resume" [(ngModel)]="file"  (change)="onFilesSelected($event)" accept=".png, .jpg, .jpeg, .pdf"/>
      </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-outline-danger" (click)="savecareer()">Send <i class="fa fa-paper-plane-o ml-1" ></i></button>
      </div>

    </div>
  </div>

</div>

<!-- <div class="text-center">
  <a href="" class="btn btn-outline-danger" data-toggle="modal" data-target="#modalContactForm">Launch
    Join Us</a>
</div>  -->
