/* Add styles to the form container */
.container {
  /* padding: 36px; */
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=date], input[type=select] {
  width: 100%;
  padding: 5px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  /* width: 100%; */
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

.btn-slot {
  font-size: 10px;
  margin-bottom: 20px;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  height: 70px;
}

.selected {
  font-size: 10px;
  background-color: yellowgreen;
  margin-bottom: 20px;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

#volume {
  font-size: 15px;
}

.containerTop {
  width: 80%;
  margin-top: 40px;
}

#sign {
  padding-top: 60px;
}

h2 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.nav-link {
  color: rgb(43, 40, 40);
  /* padding: 12px 0; */
  border-bottom: transparent;
}

.nav-link:hover {
  color: rgb(43, 40, 40);
}

.alert {
  margin-top: 10px;
}
