<div class="slider">
    <div class="slide-track">
      <div class="slide">
        <img src="/assets/images/partners/adidas.png" class="partnerLogo" alt="" />
      </div>
      <div class="slide">
        <img src="/assets/images/partners/BASF.png" class="partnerLogo" alt="" />
      </div>
      <div class="slide">
        <img src="/assets/images/partners/blackandwhite.png" class="partnerLogo" alt="" />
      </div>
      <div class="slide">
        <img src="/assets/images/partners/burgerKing.png" class="partnerLogo" alt="" />
      </div>
      <div class="slide">
        <img src="/assets/images/partners/givson.png" class="partnerLogo" alt="" />
      </div>
      <div class="slide">
        <img src="/assets/images/partners/harrypotter.png" class="partnerLogo" alt="" />
      </div>
      <div class="slide">
        <img src="/assets/images/partners/nike.png" class="partnerLogo" alt="" />
      </div>
      <div class="slide">
        <img src="/assets/images/partners/rolex.png" class="partnerLogo" alt="" />
      </div>
      <div class="slide">
        <img src="/assets/images/partners/taco-bell.png" class="partnerLogo" alt="" />
      </div>
      <div class="slide">
        <img src="/assets/images/partners/tesla.png" class="partnerLogo" alt="" />
      </div>
      <div class="slide">
        <img src="/assets/images/partners/tiffany.png" class="partnerLogo" alt="" />
      </div>
    </div>
  </div>