<app-adminfrontend></app-adminfrontend>


<br>
<br>
<div class="table-responsive text-nowrap">
  <table class="table" id="ordertable">
    <thead>
    <tr>
<!--      <th scope="col">Email</th>-->
      <th scope="col">Name</th>

      <th scope="col">Role</th>
      <th scope="col">Resume</th>
<!--      <th scope="col">Reply</th>-->


    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of career ">
<!--      <td >{{data.email}}</td>-->
      <td >{{data.name}}</td>

      <td >{{data.role}}</td>
      <td >Image</td>
<!--      <app-adminfrontend></app-adminfrontend>-->
<!--      <td ><button mat-stroked-button (click)="sendmail(data)">Reply</button></td>-->

    </tr>
    </tbody>
  </table>

</div>
