<app-adminfrontend></app-adminfrontend>
<br>
<br>
<div class="card" id="maincard">
  <div class="card-body">

    <div>
      <div>
        <div class="chart">
          <canvas baseChart
                  [data]="pieChartData"
                  [labels]="pieChartLabels"
                  [chartType]="pieChartType"
                  [options]="pieChartOptions"
                  [plugins]=""
                  [colors]="pieChartColors"
                  [legend]="pieChartLegend">
          </canvas>
        </div>
      </div>
    </div>

    <br>
    <br>


    <div>
      <div>
        <div style="display: block">
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [plugins]="barChartPlugins"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
