
    <div class="container">
      <br><br><br>
        <h1 style="text-align:center">Frequently Asked Questions</h1>  
   
        <br>
         <br>
         <br>
         <h3> What is Wysser?</h3>
            <p>Wysser is a logistic management company that provides a link between Retailers, Wholesalers and Transport Company</p>
            
            <br>
            <hr>
            <br>
           <h3> Who can use our platform?</h3>
            <p>Wholesalers, Retailers and Transport Companies can benefit from our services</p>
            
            <br>
            <hr>
            <br>
          <h3>How do I sign up for Wysser?</h3> 
              <p>It is actually very easy , Click <a routerLink="/signup"> here</a> to proceed</p>
              <br>
              <hr>
              <br>                            
           <h3>How soon after contacting Wysser Customer Happiness can I expect to hear back?</h3>
           <p>Our Customers are really important to us and we try to get back as soon as possible</p>  
           <br>
            <hr>
            <br>                                
           <h3>How do I upgrade my Wysser plan?</h3> 
           <p>It can be done by clicking <a routerLink="/pricing"> here</a> and we will add the new plan to your account </p>
                      
       </div>