<div class="fullScreen">
        <div *ngIf = "init" class="Text-container container">
          <br><br>
          <h2>Reset Password</h2>
          <mat-form-field>
            <input #email matInput placeholder="Registered Email" required>
          </mat-form-field>    
          <br/>
          <button class="btn btn-outline-danger check"
                  (click)="resetPassword(email.value)"><b> Reset </b>
          </button>
          <br>
          <div *ngIf="wrongEmail" class="alert alert-danger col-md-4 offset-md-4 col-12" role="alert">
                Email ID is not registered!
          </div>
          <div *ngIf="emptyField" class="alert alert-danger col-md-4 offset-md-4 col-12" role="alert">
                Provide a valid email id.
          </div>
              
        </div>
        <div class="container">
        <div *ngIf="resetSuccessfull">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Password reset link has been sent to your email</h4>
                    <p>Redirecting to landing page....</p> 
                </div>
        </div>
    </div>
</div>


      