
.Body {
  background-image: white
}

#profile-image {
  margin-left: 42%;
}

.Text-container {
  width: 40%;
  height: 80%;
  margin: 0 auto;
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  text-align: center;
}

.Text-container {
  display: flex;
  flex-direction: column;
}

.Text-container > * {
  width: 100%;
}

.Text-container .deleteButton {
  /* margin-left: 210px;
  width: 70px; */
  width: 25%;
  margin: 0 auto;

}


.container {
  margin-top: -10px;

}

#terms {
  margin-top: 20px;
}


p {
  font-family: Lato;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.hoverable {
  position: relative;
  display: block;
  cursor: pointer;
  height: 200px;
  width: 200px;
  border: 2px solid goldenrod;
  border-radius: 50%;
}

.hoverable .hover-text {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.hoverable .background {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  border-radius: 50%;
  z-index: 1;
}

.hoverable:hover .hover-text {
  display: block;
}

.hoverable:hover .background {
  display: block;
}

#fileInput {
  display: none;
}

.containerTop {
  margin-top: 40px;
  width: 80%;
}

.nav-link {
  color: rgb(43, 40, 40);
  /* padding: 12px 0; */
  border-bottom: transparent;
}

.nav-link:hover {
  color: rgb(43, 40, 40);
}
