
    <div class="container">
        <br><br><br>
      
     <h1 style="text-align:center">Terms and Conditions</h1>  

     <a class = "download" href="../../assets/download.txt" download>
     <!-- <a>Click here to download terms and conditions</a> -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <button class="btn"><i class="fa fa-download"></i> Download</button>
     </a>
     <br>
      <br>
      <br>
        <h3> Who can use these Terms & Conditions?</h3>
         <p>These Wysser terms and conditions are designed for use by a small business offering a delivery service for goods.</p>
         
         <br>
         <hr>
         <br>
       <h3>What are these Terms & Conditions for?</h3> 
           <p>These terms and conditions set out the duties of both the transportation company and the retailer.</p> 
           <br>
           <hr>
           <br>                            
        <h3>What are the main issues?</h3>
        <p>Customer obligations: the customer has to identify the goods being consigned and confirm that they’re not hazardous or perishable and that the customer owns them or has full authority to deal with the goods.</p>  
        <p>The terms will also deal with collection and delivery times: the goods must be ready for collection at the agreed time but the carrier will usually give only an estimate of the delivery time and not a guaranteed commitment.</p> 
        <p>The T&Cs will provide for a quotation to be given by the carrier which will be valid for a specified period</p>  
        <p>Charges may be varied in certain circumstances and if the customer cancels, there may be a cancellation fee.</p>
        <p>Carriage will often be at the customer’s risk and, in that case, the customer has to arrange insurance of the goods in transit.</p>   
        <p>Carriers like to limit liability as much as they can so that they have no responsibility for loss or damage which is beyond their control.</p> 
        <br>
         <hr>
         <br>                                
        <h3>What detailed terms does the Terms & Conditions contain?</h3> 
        <br>
        <ul><h5>The download contains:</h5></ul> 
            <li>A Form of Agreement</li> 
            <li> A Schedule</li>
              <li> A detailed Terms and Conditions document</li>
                                       
              <p>The Terms and Conditions document is intended as a standard set of terms and conditions which would be made available to prospective customers at the first opportunity.  The Form of Agreement, sales contract and/or invoice would usually have these conditions attached.</p>
                                        
                <ul><h5>Clauses:</h5></ul> 
                                        
                                     <li> Contract Formation</li>  
                                       <li> Status of Carrier</li>
                                        <li>Duty of Care</li>
                                       <li> Customer’s Obligations</li>
                                       <li>Delivery</li> 
                                       <li> Quotations</li>
                                        <li>Charges & Payment</li>
                                       <li>Limit of Liability</li> 
                                       <li> Law & Disputes</li> 
                                       <li>Termination</li> 
                                       <li>Entire Agreement</li> 
                                       <li>Waiver</li> 
                                       <li> Severability</li> 
                                       <li> Assignment</li> 
    <p>For more information on each of these sections, see our Explanatory Notes below which you will also receive when you download the document from our website.</p>  
       <p>For information on signing documents see our Contract Signing page</p>
       <br>
         <hr>
         <br>
       <h4> Legal support</h4>
           <p>ContractStore supplies templates and is not a law firm.  But all our templates are written by experienced lawyers so we can arrange legal assistance for customers who need special terms in one of our documents or a bespoke template. . For more information see our Legal Services page.</p>
             <p>And if you want to contact us see our <a href="#">Contacts</a> page.</p> 
      
                   
    </div>