<div class="mt-5 pt-5 pb-2 footer bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xs-12 about-company">
        <img id="logo2" src="assets/logo1.png" alt="myLogo">
        <h2>Wysser Inc.</h2>
        <p class="pr-5 text-white-50">You Order, We Deliver </p>
        <h5>Show Some [ <i class="fas fa-heart" style="color:red;"></i> ]</h5>
        
          <header><small class="copyright text-white-50">© Copyright 2019 Wysser Technologies. All rights reserved.</small></header>
        
        
        
      </div>
      <div class="col-lg-3 col-xs-12 links">
            <h4 class="mt-lg-0 mt-sm-3">Learn More</h4>
            <ul class="m-0 p-0" style="list-style-type: none;">
              <a routerLink="/about-us"><li>About Us</li></a>
              <a routerLink="/careers"><li>Careers</li></a>
              <a routerLink="/faq"><li>FAQ</li></a>
              <a routerLink="/contact-us"><li>Contact Us</li></a>
              <a routerLink="/terms"><li>Terms of Services</li></a>
            </ul>
      </div>
      <div class="float-right col-lg-4 col-xs-12 ">
        <!-- <h4 class="mt-lg-0 mt-sm-4">Location</h4>
        <p><i class="fa fa-map-marker mr-3"></i>38, 4th B Cross Rd, Koramangala 5th Block, Koramangala Industrial
          Layout, Near JNC College Rd, Bengaluru, Karnataka 560095</p>
        <p class="mb-0"><i class="fa fa-phone mr-3"></i>(+91) 123-4567</p>
        <p><i class="fa fa-envelope-o mr-3"></i>wysserrouting@gmail.com</p> -->
          <a href="#">
        <img class="" src="/assets/images/googleplay.png" target="blank" style="width:200px;"/>
        </a>
                
        <p class="">
          <br>
          <a href="https://www.facebook.com/wysserCGI/" target="blank"><i class="fa fa-facebook mr-4"></i></a>
          <!-- <a href="#"><i class="fa fa-linkedin mr-2"></i></a> -->
          <a href="https://www.instagram.com/wysser.cgi/" target="new"><i class="fa fa-instagram mr-4"></i></a>
          <!-- <a href="#"><i class="fa fa-pinterest mr-2"></i></a> -->
          <a href="https://twitter.com/Wysser1" target="blank"><i class=" fa fa-twitter mr-4"></i></a>
          <!-- <a href="#"><i class="fa fa-rss"></i></a> -->
          
        </p>
        <strong>Powered by  <img src="/assets/logo1.png" style="height:30px;"/>  </strong>
        

      </div>


    </div>
  </div>
</div>
