<br>
<br>


<ul class="nav nav-tabs ml-auto" >
    <li class="active text-center" style="padding: 20px;width: 50%;"><a data-toggle="tab" href="#home" >Retailers</a></li>
    <li  class="text-center" style="padding: 20px; width: 50%;"><a data-toggle="tab" href="#menu1">Vehicle Company</a></li>
  </ul>
  <div class="tab-content">
    <div id="home" class="tab-pane active">
        <div class="container">
          <h4 style="margin: auto; color: darkblue;text-align: center;padding: 30px;">Subscription offers for Retailers</h4>
            <div class="row" style="justify-content: flex-start;">
              <div class="col-md-6" style="margin: auto;">
          <div class="columns" >
            <ul class="price">
              <li class="header">Yearly</li>
              <li class="grey"><del style="color: red;">₹ 1000/year</del><br> ₹ 500 / year</li>
              <li class="white">10% discount on Renting Charge for first 10 orders</li>
              <li class="white">Maximum allowance : 6 Vehicle at any given time</li>
              <li class="white">Insurance for all orders</li>
              <li class="white">Coupons Worth ₹ 50 </li>
              <li class="grey"><a href="#" class="button" routerLink="/payment" >Purchase</a></li>
            </ul>
          </div>
          
          <div class="columns">
            <ul class="price">
              <li class="header">Monthly</li>
              <li class="grey"><del style="color: red;">₹ 200/month</del><br> ₹ 100 / month</li>
              <li class="white">10% discount on Renting Charge for first 2 orders</li>
              <li class="white">Maximum allowance : 2 Vehicle at any given time</li>
              <li class="white">Insurance for all orders</li>
              <li class="white">None</li>
              <li class="grey"><a href="#" class="button" routerLink="/monthlypayment" >Purchase</a></li>
            </ul>
          </div>
          </div>
            </div>
          </div>
    </div>
    <div id="menu1" class="tab-pane fade">
        <div class="container">
            <h4 style="margin: auto; color: darkblue;text-align: center;padding: 30px;">Subscription offers for Vehicle Companies</h4>
            <div class="row">
                <div class="col-md-6" style="margin: auto;">
          <div class="columns">
            <ul class="price">
              <li class="header">Yearly</li>
              <li class="grey"><del style="color: red;">₹ 1000/year</del><br> ₹ 500 / year</li>
              <li class="white">No Extra Commision</li>
              <li class="white">Free Order Management and Navigation Services</li>
              
              <li class="white">Coupons Worth ₹ 50 </li>
              <li class="grey"><a href="#" class="button" routerLink="/payment" >Purchase</a></li>
            </ul>
          </div>
          
          <div class="columns">
            <ul class="price">
              <li class="header">Monthly</li>
              <li class="grey"><del style="color: red;">₹ 200/month</del><br> ₹ 100 / month</li>
              <li class="white">No Extra Commision</li>
              <li class="white">Free Order Management and Navigation Services</li>
              <li class="white">None</li>
              <li class="grey"><a href="#" class="button" routerLink="/monthlypayment" >Purchase</a></li>
            </ul>
          </div>
          </div>
            </div>
          </div>
    </div>
    
  </div>


<!-- <div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-4 col-12">
<div class="columns">
  <ul class="price">
    <li class="header">Yearly</li>
    <li class="grey"><del style="color: red;">₹ 1000/year</del><br> ₹ 500 / year</li>
    <li>10% discount on Renting Charge for first 10 orders</li>
    <li>Maximum allowance : 6 Vehicle at any given time</li>
    <li>Insurance for all orders</li>
    <li>Coupons Worth ₹ 50 </li>
    <li class="grey"><a href="#" class="button" routerLink="/payment" >Purchase</a></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header">Monthly</li>
    <li class="grey"><del style="color: red;">₹ 200/month</del><br> ₹ 100 / month</li>
    <li>10% discount on Renting Charge for first 2 orders</li>
    <li>Maximum allowance : 2 Vehicle at any given time</li>
    <li>Insurance for all orders</li>
    <li>None</li>
    <li class="grey"><a href="#" class="button" routerLink="/monthlypayment" >Purchase</a></li>
  </ul>
</div>
</div>
  </div>
</div> -->